name: Continuous Integration

on:
  push:
    branches: [ patch-linux4.7 ]
  pull_request:
    branches: [ patch-linux4.7 ]

permissions: {}

jobs:

  # NOTE(antoineco): This job only tests that the module builds on whatever
  # kernel version the self-hosted GitHub Actions runner is running.
  # Current: 6.0.0-0.rc1.13.fc38.x86_64
  #
  # Ideally, we would be able to select one runner for each kernel version we
  # intend to support.
  #
  build:
    name: Build Kernel Module
    runs-on: [self-hosted, linux, X64]

    steps:
    - uses: actions/checkout@v3

    - name: Build wl module
      run: make

    - name: Clean wl module
      if: always()
      run: make clean
